@import "tailwindcss";

@theme {
  /* -----------------Font---------------- */
  --font-urbanist: var(--font-urbanist);
  /* -----------------Color---------------- */
  --color-primary: #00ff99
  /* -----------------Screen---------------- */
  /* -----------------Animation---------------- */
  /* --animate-rotate: rotate 5s linear infinite;
  @keyframes rotate: {
    0% { transform: rotate(0deg)},
    100% {transform: rotate(-360deg)}
  } */
  /* -----------------Background---------------- */
  /* --background-image-cronic-gradient: conic-gradient(rgb(17, 255, 189)  20deg, transparent 120deg); */
}





/* ------------------Custom Classes-------------------- */
.btn {
  @apply flex items-center justify-center rounded-md font-medium text-sm px-3 py-2 bg-primary text-[#343535] hover:text-white transition-all duration-300
}

.active-menu {
  @apply font-medium text-primary border-b-4 border-primary
}

.after-line {
  @apply text-[40px] font-semibold pb-2 after:absolute after:h-[5px] after:bottom-0 after:left-1/2 after:right-1/2 after:transform after:-translate-x-1/2  after:bg-primary 
}
.text-effect{
  background: linear-gradient(109.6deg, rgb(170, 255, 169) 11.2%, rgb(17, 255, 189) 91.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
